<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>20688023892-rfpajq7ebjmq3kuldmssaptjh3aqd0b5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.20688023892-rfpajq7ebjmq3kuldmssaptjh3aqd0b5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>20688023892-1aq74k1imbtb5bhjh4nhv895h1diua99.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDddBFjgi2p5D2rcnasgdO89uJFRR1c1tE</string>
	<key>GCM_SENDER_ID</key>
	<string>20688023892</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.euryperez.loginsample</string>
	<key>PROJECT_ID</key>
	<string>cmp-login-sample</string>
	<key>STORAGE_BUCKET</key>
	<string>cmp-login-sample.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:20688023892:ios:6c3c1d72143a2e31c458c1</string>
</dict>
</plist>